<div class="c-icon-stack {{class}}">
  <div class="c-icon-stack__icon">
    <img src="{{root}}/assets/img/{{src}}" alt="{{alt}}">
  </div>
  <div class="c-icon-stack__title {{title-class}}">
    {{#if @partial-block}}
      {{> @partial-block}}
    {{/if}}
  </div>
</div>
