
{{#if (and alt src)}}
  <img class="{{img-class}}" src="{{root}}assets/img/{{src}}" alt="{{alt}}">
{{else if src}}
  <div class="u-missing-img u-missing--alt">
    <img class="{{img-class}}" src="{{root}}assets/img/{{src}}" alt="{{alt}}">
  </div>
{{else if alt}}
  <div class="u-missing-img">
    {{#is layout 'title-side'}}
      <img class="{{img-class}}" src="{{root}}assets/img/placeholders/ph-ts-col-{{col}}.png" alt="Needs Alt Text">
    {{else}}
      <img class="{{img-class}}" src="{{root}}assets/img/placeholders/ph-tt-col-{{col}}.png" alt="Needs Alt Text">
    {{/is}}
  </div>
{{else}}
  <div class="u-missing-img u-missing--both">
    {{#is layout 'title-side'}}
      <img class="{{img-class}}" src="{{root}}assets/img/placeholders/ph-ts-col-{{col}}.png" alt="Needs Alt Text">
    {{else}}
      <img class="{{img-class}}" src="{{root}}assets/img/placeholders/ph-tt-col-{{col}}.png" alt="Needs Alt Text">
    {{/is}}
  </div>
{{/if}}
