<button
  class='{{#if mod}}o-close-btn o-close-btn--{{mod}}{{else}}o-close-btn{{/if}}'
  data-close='{{close}}'
  aria-label='{{#if label}}{{label}}{{else}}Close{{/if}}'
  type='button'>
  <span aria-hidden='true'>&times;</span>
</button>
